<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanakayu.mini_projects">

    <application>
        <activity
            android:name=".ui.browse_image.MiniProjectsBrowseImageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.snackbars.MiniProjectsSnackbarsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity_result.MiniProjectsStringResultActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ndk.MiniProjectsNdkActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>
</manifest>